
    <link rel="stylesheet" href="/css/user_profile.css" />
    <h1>User profile Infohere</h1>

  <p>Name : <%= user.name%></p>
  <p>Email : <%= user.email%></p>

  <a href="/user/sign-out"><p>Sign Out</p></a>